# dev, test or prod
ENVIRONMENT=prod

# Database configuration
DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=your_password
DB_HOST=database_host
DB_PORT=database_port

TEST_DB_NAME=test_database_name
TEST_DB_USER=test_database_user
TEST_DB_PASSWORD=test_password
TEST_DB_HOST=test_database_host
TEST_DB_PORT=test_database_port
